/* Style for "Rectangle" */
.header {
  line-height: 35px;
  background-color: #000000;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 12px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}
