.pdp-details {
  margin: 0;
  max-width: 398px;
  width: 398px;
  .go-back {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    .filter-type {
      line-height: 12px;
      color: #4a4a4a;
      font-family: "Gotham HTF - Book";
      font-size: 10px;
      font-weight: 300;
      text-transform: uppercase;
      margin-left: 5px;
    }
  }
}
