<div class="details-row name-and-price">
  <h2 class="name">Red Canvas</h2>
  <h3 class="price">$79 USD</h3>
</div>
<div class="details-row product-type-and-reviews">
  <h5 class="type">Oca Low</h5>
  <div class="ratings-reviews">
    <div class="ratings">
      <img src="assets/ratings-selected.png" alt="" />
      <img src="assets/ratings-selected.png" alt="" />
      <img src="assets/ratings-selected.png" alt="" />
      <img src="assets/ratings-selected.png" alt="" />
      <img src="assets/ratings.png" alt="" />
    </div>
    <div class="reviews">154 Reviews</div>
  </div>
</div>
