.details-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &.name-and-price {
    margin-bottom: 8px;
    .name,
    .price {
      margin: 0;
    }
    .name {
      color: #000000;
      line-height: 24px;
      font-size: 24px;
      font-weight: 500;
      font-family: "Gotham HTF - Medium";
    }
    .price {
      color: #4a4a4a;
      line-height: 18px;
      font-size: 16px;
      font-weight: 300;
      font-family: "Gotham HTF - Book";
      text-transform: uppercase;
    }
  }
  &.product-type-and-reviews {
    .type {
      color: #4a4a4a;
      line-height: 14px;
      font-family: "Gotham HTF - Book";
      font-size: 12px;
      font-weight: 300;
      text-transform: uppercase;
      margin: 0;
    }
    .ratings-reviews {
      display: flex;
      align-items: center;
      .reviews {
        color: #4a4a4a;
        line-height: 12px;
        font-family: "Gotham HTF - Book";
        font-size: 12px;
        font-weight: 300;
      }
    }
  }
}
.filters {
  border: 1px solid #c8c8c8;
  margin-top: 32px;
  .headers {
    display: flex;
    .filter-type {
      width: 100%;
      line-height: 16px;
      color: #000000;
      cursor: pointer;
      font-family: "Gotham HTF - Bold";
      font-size: 16px;
      background: #f1f1f1;
      border: none;
      font-weight: 700;
      letter-spacing: 1.33px;
      text-transform: uppercase;
      padding: 12px 0;
      &:first-of-type {
        border-right: 1px solid #c8c8c8;
        border-bottom: 1px solid #c8c8c8;
      }
      &:nth-of-type(2) {
        border-left: 1px solid #c8c8c8;
        border-bottom: 1px solid #c8c8c8;
      }
      &.active {
        color: #7dc242;
        border: none;
        outline: none;
        background: #fff;
      }
    }
  }
  .filter-types {
    margin: 35px 15px;
    .select {
      line-height: 12px;
      color: #4a4a4a;
      font-family: "Gotham HTF - Book";
      font-size: 10px;
      font-weight: 300;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      margin-bottom: 13px;
    }
    .color-selectors {
      margin-bottom: 35px;
      span {
        cursor: pointer;
        display: inline-block;
        margin-right: 10px;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
    .size-label-guide {
      display: flex;
      justify-content: space-between;
      .size-guide {
        color: #000000;
        line-height: 12px;
        font-family: "Gotham HTF - Book";
        font-size: 12px;
        font-weight: 300;
      }
    }
    .sizes {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      .size-container {
        display: inline-block;
        width: 30px;
        line-height: 30px;
        border: 1px solid rgba(74, 74, 74, 0.5);
        font-family: "Gotham HTF - Medium";
        color: #000000;
        cursor: pointer;
        font-size: 14px;
        text-align: center;
        font-weight: 500;
        margin: 0 8px 8px 0;
      }
    }
  }
  .add-to-bag {
    color: #ffffff;
    cursor: pointer;
    line-height: 20px;
    font-family: "Gotham HTF - Bold";
    font-size: 16px;
    font-weight: 700;
    padding: 20px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    background-color: #7dc242;
  }
}
.shipping-range {
  line-height: 14px;
  color: #4a4a4a;
  font-family: "Gotham HTF - Book";
  font-size: 12px;
  font-weight: 300;
  margin-top: 20px;
  text-align: center;
}
