<div class="image-container">
  <div class="active">
    <img src="assets/images/{{activeImage}}" style="width:100%">
  </div>
  <div class="thumb-nail-images">
    <button class="indicator-arrow" [disabled]="activeIndex == 0" (click)="setActiveIndex(-1)">
      <img src="assets/l-arrow.png" alt="left arrow" />
    </button>
    <div class="w3-section">
      <button class="thumb-nails" *ngFor="let image of thumbNails;let i=index" (click)="setActiveImageAndIndex(i)">
        <img src="assets/product-images/{{image}}" alt="{{image}}" />
      </button>
    </div>
    <button class="indicator-arrow" [disabled]="activeIndex == (thumbNails.length-1)" (click)="setActiveIndex(1)">
      <img src="assets/r-arrow.png" alt="right arrow" />
    </button>
  </div>

</div>
